<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/init.js"></script>
    <script src="/getEmployees.js"></script>
    <script src="/addEmployee4.js"></script>
    <script src="/addTeam2.js"></script>
</head>
<body>
<div>
    <form id="newTeamForm">
        <div class="form-group">
            <label for="teamName">Name</label>
            <input type="text" class="form-control" id="teamName" >
        </div>
        <div class="form-group">
            <label for="teamProject">Project</label>
            <input type="text" class="form-control" id="teamProject" >
        </div>
        <select id="poSelector">
        </select>
        <select id="pmSelector">
        </select>
        <select id="scrumMasterSelector">
        </select>

        <button id="addTeam" class="btn btn-primary">Add Team</button>
    </form>


</div>
</body>
</html>